<div class="row d-flex justify-content-center align-items-center ">
  <div class="col-md-10 col-sm-9">
    <h1 class=""><%= t("activerecord.models.car_type") %></h1>
  </div>
  <div class="col-md-3 d-flex justify-content-center align-items-center">
    <button type="button" class="btn supremo-btn-gray no-hover"><%= link_to t("general.buttons.new_car_type"), new_car_type_path, class: "text-white" %></button>
  </div>
</div>
<table class="table supremo-table-colour">
  <thead>
    <tr class="supremo-table-top-colour">
      <th class="text-center"><%= t("activerecord.attributes.user.name") %></th>
      <th colspan="5" class="text-center"><%= t("general.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @car_types.each do |car_type| %>
    <tr>
      <td class="text-center"><%= car_type.name.capitalize %></td>
      <td>
        <div class="dropdown text-center">
          <button type="button" class="fas fa-ellipsis-v supremo-hover-click" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to t("general.buttons.show"), car_type_path(car_type) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to t("general.buttons.delete"), car_type_path(car_type), method: :delete, data: {confirm: I18n.t("general.messages.confirm")} if current_user.admin? %></li>
          </ul>
          <%= link_to fa_icon('user-edit'), edit_car_type_path(car_type), class: "pad-left-5" %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="col-md-3 col-md-offset-9">
  <div class="supremo_pagination">
    <%= will_paginate @car_types %>
  </div>
</div>



