
<div class="row d-flex justify-content-center align-items-center">
  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
    <h1><%= t("general.fines") %></h1>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 d-flex justify-content-end">
    <button type="button" class="btn supremo-btn-gray no-hover"><%= link_to t("general.buttons.new_fine"), new_fine_path, class: "text-white" %></button>
  </div>
</div>


<table class="table supremo-table-colour">
  <thead>
    <tr class="supremo-table-top-colour">
      <th class="text-center"><%= t("activerecord.attributes.user.name") %></th>
      <th class="text-center"><%= t("activerecord.attributes.fine.fine_date") %></th>
      <th class="text-center"><%= t("activerecord.attributes.fine.fine_status") %></th>
      <th class="text-center"><%= t("activerecord.attributes.fine.fine_number") %></th>
      <th class="text-center"><%= t("activerecord.attributes.company_types.branch") %></th>
      <th class="text-center"><%= t("activerecord.attributes.fine.detran_id") %></th>
      <th class="text-center"><%= t("activerecord.attributes.fine.fine_points") %></th>
      <th colspan="3" class="text-center" ><%= t("general.actions") %></th>
    </tr>
  </thead>





  <tbody>
    <% @fines.each do |fine| %>
      <tr>
        <td class="text-center"><%= fine.user.name %></td>
        <td class="text-center"><%= l(fine.fine_date, format: :short) %></td>
        <td class="">
          <%  if fine.fine_status == "identified" %>
              <div class="d-flex justify-content-center">
                <div class="text-center supremo-btn-identified"><%= t("activerecord.attributes.fine_statuses.identified") %></div>
              </div>
            <% else %>
            <div class="d-flex justify-content-center">
              <div class="text-center supremo-btn-unidentified"><%= t("activerecord.attributes.fine_statuses.unidentified") %></div>
            </div>
          <% end %>
        </td>

        <td class="text-center"><%= fine.fine_number %></td>
        <td class="text-center"><%= fine.branch&.name %></td>
        <td class="text-center"><%= fine.detran&.name %></td>
        <td class="text-center"><%= fine.fine_point&.name %></td>
        <td>
          <div class="dropdown text-center ">
            <button type="button" class="fas fa-ellipsis-v supremo-hover-click" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to t("general.buttons.show"), fine_path(fine) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to t("activerecord.attributes.fine.change_status"), fine_identified_unidentified_path(fine), method: :post, remote: true %></li>
              <li><%= link_to t("general.buttons.delete"), fine_path(fine), method: :delete, data: {confirm: I18n.t("general.messages.confirm")} %></li>
            </ul>

            <%= link_to fa_icon('user-edit'), edit_fine_path(fine), class: "pl-5" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-end align-items-center">
  <div class="supremo_pagination">
    <%= will_paginate @fines, previous_label: fa_icon('angle-left'), next_label: fa_icon('angle-right') %>
  </div>
</div>


