
<%= form_for @user do |form| %>

  <div class="field">
  <%= form.label t("activerecord.attributes.user.name") %>
  <%= form.text_field :name %> </br>
  </div>

  <div class="field">
  <%= form.label t("activerecord.attributes.user.email") %>
  <%= form.email_field :email %> </br>
  </div>

  <div class="field">
  <%= form.label t("activerecord.attributes.user.password") %>
  <%= form.password_field :password %></br>
  </div>

  <div class="field">
  <%= form.label t("general.set_account") %>
  <%= form.select :status, options_for_enum(:statuses) %></br>
  </div>

  <div class="field">
    <%= form.label t("activerecord.attributes.user.user_type") %>
    <%= form.select :user_type, options_for_enum(:user_types)  %>
  </div>

  <% if current_user.admin? %>

  <div class="field">
    <%= form.label t("activerecord.attributes.company_types.branch")  %>
    <%= form.select :company_id, options_from_collection_for_select(@companies, :id , :name) %>
  </div>
<% end %>

  <div class="actions">
  <%= form.submit t("general.save") %>
  </div>

<% end %>

