
<div class="d-flex justify-content-center">
  <div class="supremo-box-show">
    <form>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <fieldset disabled>
            <div class="form-group">
              <label for="name"><%= t("activerecord.attributes.user.name") %></label>
              <input type="text" id="name" class="form-control" placeholder="<%= @company.name %>">
            </div>
          </fieldset>
          <fieldset disabled>
            <div class="form-group">
              <label><%= t("activerecord.attributes.company.company_type") %></label>
              <input type="text" class="form-control" placeholder="<%= enum_to_name(@company, :company_type) %>">
            </div>
          </fieldset>
          <fieldset disabled>
            <div class="form-group">
              <label><%= t("activerecord.attributes.company.cnpj") %></label>
              <input type="text" class="form-control" placeholder="<%= @company.cnpj %>">
            </div>
          </fieldset>
          <fieldset disabled>
            <div class="form-group">
              <label><%= t("activerecord.attributes.company.phone") %></label>
              <input type="text" class="form-control" placeholder="<%= @company.phone %>">
            </div>
          </fieldset>
          <fieldset disabled>
            <div class="form-group">
              <label><%= t("activerecord.attributes.company.address") %></label>
              <input type="text" class="form-control" placeholder="<%= @company.address %>">
            </div>
          </fieldset>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <fieldset disabled>
            <div class="form-group">
              <label><%= t("activerecord.attributes.company.number") %></label>
              <input type="text" class="form-control" placeholder="<%= @company.number %>">
            </div>
          </fieldset>
          <fieldset disabled>
            <div class="form-group">
              <label ><%= t("activerecord.attributes.company.zipcode") %></label>
              <input type="text" class="form-control" placeholder="<%= @company.zipcode %>">
            </div>
          </fieldset>
          <fieldset disabled>
            <div class="form-group">
              <label><%= t("activerecord.attributes.company.district") %></label>
              <input type="text" class="form-control" placeholder="<%= @company.district %>">
            </div>
          </fieldset>
          <fieldset disabled>
            <div class="form-group">
              <label><%= t("activerecord.models.state") %></label>
              <input type="text" class="form-control" placeholder="<%= @company.city.state&.name %>">
            </div>
          </fieldset>
          <fieldset disabled>
            <div class="form-group">
              <label><%= t("activerecord.models.city") %></label>
              <input type="text" class="form-control" placeholder="<%= @company.city.name %>">
            </div>
          </fieldset>

        </div>
      </div>
      <div class="">
        <button type="button" class="btn supremo-btn-gray no-hover">
          <%= link_to t("general.buttons.edit"), edit_company_path, class: "text-white" %>
        </button>
        <button type="button" class="btn supremo-btn-gray no-hover">
          <%= link_to t("general.buttons.delete"), companies_path(@companies), method: :delete, class: "text-white" %>
        </button>
        <button type="button" class="btn supremo-btn-gray no-hover">
          <%= link_to t("general.buttons.back"),  companies_path, class: "text-white" %>
        </button>
      </div>
    </form>
  </div>
</div>


