
<div class="row d-flex justify-content-center align-items-center ">
  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
    <h1 class=""> <%= t("general.cars") %> </h1>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 d-flex justify-content-end">
    <button type="button" class="btn supremo-btn-gray no-hover"><%= link_to t("general.buttons.new_car_type"), new_car_path, class: "text-white" %></button>
  </div>
</div>

<table class="table supremo-table-colour">
  <thead class="">
    <tr class="supremo-table-top-colour">
      <th class="text-center"><%= t("activerecord.attributes.car.year") %></th>
      <th class="text-center"><%= t("activerecord.attributes.car.license_plate") %></th>
      <th class="text-center"><%= t("activerecord.attributes.user.status") %></th>
      <th class="text-center"><%= t("activerecord.models.car_model") %></th>
      <th class="text-center"><%= t("activerecord.models.car_type") %></th>
      <th  class="text-center"><%= t("general.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td class="text-center"><%= car.year %></td>
        <td class="text-center"><%= car.license_plate %></td>
        <td class="text-center"><%= enum_to_name(car, :status) %></td>
        <td class="text-center"><%= car.car_model&.name %></td>
        <td class="text-center"><%= car.car_model&.car_type&.name %></td>
        <td>
          <div class="dropdown text-center">
            <button type="button" class="fas fa-ellipsis-v supremo-hover-click" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to t("general.buttons.show"), car_path(car) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to car.status == "enabled" ? t("general.buttons.disable") : t("general.buttons.enable"), car_enable_disable_path(car), method: :post, remote: true %></li>
              <li><%= link_to t("general.buttons.delete"), car_path(car), method: :delete, data: {confirm: I18n.t("general.messages.confirm")} if current_user.admin? %></li>
            </ul>
            <%= link_to fa_icon('user-edit'), edit_car_path(car), class: "pl-5" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-end align-items-center">
  <div class="supremo_pagination">
    <%= will_paginate @cars, previous_label: fa_icon('angle-left'), next_label: fa_icon('angle-right') %>
  </div>
</div>

