<%= form_with(model: fine_point, local: true) do |form| %>
  <% if fine_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fine_point.errors.count, t("errors.messages.all_fields")) %></h2>

      <ul>
      <% fine_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <form>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for=""><%= t("activerecord.attributes.user.name") %></label>
          <%= form.text_field :name , {class: "form-control"} %>
        </div>

        <div class="form-group">
          <label for=""><%= t("activerecord.attributes.fine.fine_points") %></label>
          <%= form.number_field :fine_points, {class: "form-control"} %>
        </div>
      </div>
    </div>

    <%= form.button t("general.save"), type: "submit", class: "btn supremo-btn-gray text-white no-hover-button" %>
    <button type="button" class="btn supremo-btn-gray no-hover"><%= link_to t("general.buttons.delete"), fine_point_path(@fine_points), method: :delete, class: "text-white" %></button>
    <button type="button" class="btn supremo-btn-gray no-hover"><%= link_to t("general.buttons.back"),  fine_points_path, class: "text-white" %></button>

  </form>

<% end %>
