
  <div class="row">
    <div>
      <ul class="nav nav-pills nav-stacked supremo-sidebar-nav-colour-hover">
        <li><%=  link_to fa_icon('user' , type: :regular, text: t("general.users")), users_path %></li>
        <li><%=  link_to fa_icon('file-alt' , type: :regular, text: t("general.fines")), fines_path %></li>
        <li><%=  link_to fa_icon('file-powerpoint' , type: :regular, text: t("activerecord.attributes.fine.fine_points")), fine_points_path %></li>
        <li><%=  link_to fa_icon('building' , type: :regular, text: t("general.companies")), companies_path %></li>
        <li><%=  link_to fa_icon('car' , text: t("general.vehicles")), cars_path %></li>
        <li><%=  link_to fa_icon('car-side' , text: t("activerecord.models.car_type")), car_types_path %></li>
        <li><%=  link_to fa_icon('car-side' , text: t("activerecord.models.car_model")), car_models_path %></li>
      </ul>
    </div>
  </div>
