<!DOCTYPE html>
<html>
  <head>
    <title>Nucleus Multas</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>



  </head>

  <body>

  <% unless signed_in? %>
    <div class="">
      <%= image_tag "foto_inicio.png" %>
    </div>
  <% end %>

  <div>
    <%= "#{t("general.messages.welcome")}, #{current_user.name.capitalize}!" if user_signed_in? %>
    <%= "#{t("activerecord.models.company")} #{current_company&.name}." if user_signed_in? %>
  </div>
  <div>
    <%= render "layouts/sidebar_menu" if user_signed_in? %>
  </div>


  <div class="">
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </div>



  </body>
</html>
